.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
}
.icon { opacity: 1; }
.iconText { opacity: 0; }
