.item {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  width: 100%;
}
.icon {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.28px;
  color: var(--text-heading);
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.close {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
